version: "3.9"
services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "5678:5678"


  frontend:
    build: ./frontend
    ports:
      - "3000:3000"

  n8n:
    image: n8nio/n8n
    ports:
      - "5679:5678"
    volumes:
      - n8n_data:/home/node/.n8n
    depends_on:
      - backend

volumes:
  n8n_data:
  
